---
layout: archive
title: "Honors & Awards"
permalink: /Honors & Awards/
author_profile: true
---

{% include base_path %}


{% for post in site.Honors & Awards %}
  {% include archive-single.html %}
{% endfor %}

“Green +” Contest (which aims at cultivating creativity and logical thinking), school-level 1st prize, 2019

“Challenge Cup” National Undergraduate Curricular Academic Science and Technology, 3rd prize in Beijing, 2018

Innovation Creativity Entrepreneurship, school-level 1st prize, 2018
